@import url('https://cdn-ec853.web.app/css/style.css');

body {
  background-color: #fff;
}

.logo {
  width: 70px;
}

hr {
  border: 1px solid #c2c2c2;
}

.cancelReserve {
  background-color: red;
  color: white;
}
.reserved {
  background-color: #c2c2c2;
  color: aquamarine;
}
